<mat-toolbar></mat-toolbar>
<mat-drawer-container style="height: 100vh; width: 100%">
    <mat-drawer #sidenav opened="true"
                style="width: 40%"
                mode="side">
        <!--<button mat-button (click)="sidenav.close()" >CLOSE</button>-->
    <!--<button mat-button (click)="sidenav.open()">OPEN</button>-->

        <ng-container *ngTemplateOutlet="selectedItems"></ng-container>

    </mat-drawer>

    <ng-container *ngTemplateOutlet="selectionMenu"></ng-container>
</mat-drawer-container>

<!-- TEMPLATES -->

<ng-template #selectedItems>
    <mat-card [@fadeIn]>
        <table>
            <thead>
            <td >Description</td>
            <td>Price</td>
            <td>Qty</td>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders" [@fadeIn]>
                <td style="">{{order.description}}</td>
                <td>{{order.price}}</td>
                <td>{{order.quantity}}</td>
                <td><button mat-icon-button (click)="removeTransaction(order)">
                    <mat-icon style="font-size: 18px; color: gainsboro">close</mat-icon>
                </button></td>
            </tr>
            </tbody>
        </table>
        <mat-card-footer>
            <h3>Total £{{total}}</h3>
        </mat-card-footer>

    </mat-card>
</ng-template>

<ng-template  #selectionMenu >
    <div class="flow-container">
        <button  mat-button
                 (click)="addProduct(itm)"
                 class="flow-item"
                 *ngFor="let itm of products">{{itm.description}}</button>
    </div>
</ng-template>