<div class="spacer"></div>
<div class="col-2-container">
    <div class="left-pane"
                style="max-width: 40%;"
                mode="side">

        <ng-container *ngTemplateOutlet="selectedItems"></ng-container>

    </div>
    <div class="right-pane">
        <ng-container *ngTemplateOutlet="selectionMenu"></ng-container>

    </div>


</div>

<!-- TEMPLATES -->

<ng-template #selectedItems>
    <mat-card [@fadeIn]>
        <table>
            <thead>
            <td >Description</td>
            <td>Price</td>
            <td>Qty</td>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders" [@fadeIn]>
                <td style="">{{order.description}}</td>
                <td>{{order.price}}</td>
                <td>{{order.quantity}}</td>
                <td><button mat-icon-button (click)="removeTransaction(order)">
                    <mat-icon style="font-size: 20px; color: darkgray">exposure_neg_1</mat-icon>
                </button></td>
                <td><button mat-icon-button (click)="addTransaction(order)">
                    <mat-icon style="font-size: 20px; color: darkgray">exposure_plus_1</mat-icon>
                </button></td>
            </tr>
            </tbody>
        </table>
        <mat-card-footer>
            <mat-divider></mat-divider>
            <h3>Total £{{total}}</h3>
        </mat-card-footer>
        <mat-card-actions>
            <button mat-icon-button
                    matTooltip="Complete"
                    class="icon-confirm"
                    (click)=" doPersistOrder()"
                    color="primary">
                <i class="material-icons" style="font-size: 36px">check</i>
            </button>
            <button mat-icon-button
                    class="icon-cancel"
                    matTooltip="Clear"
                    (click)=" doCancelOrder()"
                    color="primary">
                <i class="material-icons" style="font-size: 36px">clear</i>
            </button>
        </mat-card-actions>

    </mat-card>
</ng-template>

<ng-template  #selectionMenu >
    <div class="flow-container">
        <button  mat-button
                 (click)="addProduct(itm)"
                 class="flow-item"
                 [style.backgroundColor]="itm.color"
                 *ngFor="let itm of products">{{itm.description}}
        </button>
    </div>
</ng-template>