<!--<div class="spacer"></div>-->

<mat-drawer-container style="height: calc(100vh - 54px); background-color: antiquewhite">

  <mat-drawer mode="side" opened="true" mode="side" #sidenav>
    <!--<button mat-button-raised color="primary" (click)="sidenav.close()">CLOSE</button>-->

    <router-outlet name="productDetail"
                   (deactivate)="onDeactivate($event)"
                   (activate)="onActivate($event)" ></router-outlet>
  </mat-drawer>
  <mat-card>

    <mat-card-content>

      <!--<button mat-button-raised color="primary" (click)="sidenav.open()">open</button>-->
      <mat-form-field>
        <input type="text" matInput placeholder="filter products" (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
      <p></p>
      <mat-table #table [dataSource]="dataSource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Description</mat-header-cell>
          <mat-cell *matCellDef="let productSource">
            <button mat-button (click)="navigateToDetail(productSource)">{{productSource.description}}</button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Price</mat-header-cell>
          <mat-cell *matCellDef="let productSource">
            <a [routerLink]="['listing']">{{productSource.price}} </a>
            <button mat-icon-button
                    matTootip="delete item"
                    (click)="removeProduct(productSource.id)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-cell>
        </ng-container>


        <ng-container >
          <mat-header-cell *matHeaderCellDef mat-sort-header> id</mat-header-cell>
          <mat-cell *matCellDef="let productSource">
            <!--<a [routerLink]="['listing']">{{productSource.id}} </a>-->
            <button mat-icon-button (click)="removeProduct(productSource.id)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                     [length]="15"
                     [pageIndex]="0"
                     [pageSize]="5"
                     [pageSizeOptions]="[1, 2, 5, 10]">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</mat-drawer-container>


